:host /deep/ td-navigation-drawer > mat-toolbar {
  background-image: url('https://i.pinimg.com/originals/97/7c/2e/977c2e8c480428e79cc15cdffdda95ad.jpg') !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: white !important;

}
