<div class="pad">
  <mat-card>
    <mat-card-title>SETTINGS</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <h4 matLine>BRAND NAME</h4>
          <mat-form-field flex="50">
            <input matInput type="text" placeholder="Brand Name">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine>ADDRESS</h4>
          <mat-form-field flex="50">
            <input matInput placeholder="Address">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine>GSTIN</h4>
          <mat-form-field flex="50">
            <input matInput type="text" placeholder="GST Number">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine>BILL COPIES</h4>
          <mat-form-field flex="50">
            <input matInput type="number" placeholder="Number of Bill Copies">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine>CURRENT INVOICE NUMBER</h4>
          <mat-form-field flex="50">
            <input matInput type="number" placeholder="Invoice Number">
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <mat-selection-list>
        <mat-list-option>
          SAVE ORDERS ONLINE
        </mat-list-option>
      </mat-selection-list>

    </mat-card-content>
  </mat-card>
</div>
